<!DOCTYPE html>
<html>

<head>
    <Title>Weather APP</Title>
    <link rel="shortcut icon" type="image/jpg" href="/img/weatherapp.svg">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

</head>

<body>
   
        <div id="content">
            
                {{>header}}
                <img class="portrait" src="/img/me.jpg" alt="" width="250px">
                <p>{{text}}</p>
            

            {{>footer}}
        
    </div>
</body>

</html>