<!DOCTYPE html>
<html>

<head>
    <Title>Weather APP</Title>
    <link rel="shortcut icon" type="image/jpg" href="/img/weatherapp.svg">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

</head>

<body>

    <div id="content">

        {{>header}}
        <div class="content">
            <div class="header">
                <h1>Litle about me</h1>
            </div>
            <div class="article">
                <p>{{text}}</p>
                <img class="portrait" src="/img/ivan-a1.png" alt="Profile image" width="300px">
            </div>

        </div>


        {{>footer}}

    </div>
</body>

</html>