<!DOCTYPE html>
<html>

<head>
    <Title>Weather APP</Title>
    <link rel="shortcut icon" type="image/jpg" href="/img/ico.ico">
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
   
        <div id="content">
            
                {{>header}}
                <img class="portrait" src="/img/me.jpg" alt="weather" width="250px">
                <p>{{text}}</p>
            

            {{>footer}}
        
    </div>
</body>

</html>