*{
    box-sizing: border-box;
  
}
body {
    color: #fefefe;
    font-family: 'Noto Sans JP',sans-serif;
    /*Backgroud*/
    background: url('../img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    color: #888888;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    transition: all 0.35s ease;
}
a:hover{
    color: #ffffff;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header,
header .logo,
header .nav,
.search{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.search{
    padding: 10px 0px;
    border-bottom: 0.5px solid #ffffff;
}
input,
button {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #888888;
    padding: 10px 20px;
}

button:hover {
    color: #ffffff;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.result .pollution-conatiner,
.result .temperature,
.result .temp-items{
        display: flex;
        text-align: center;
        width: 300px;
        padding: 15px;
        margin: 15px;
        /* border: 1px solid red */
}



#pollution-items tr td{
    text-align: left;
    padding:5px 0px 0px 5px; 
    
    /* border: 1px solid red; */
}

.result .temperature,
.result .temp-items {
    flex-direction: column;
    justify-content: flex-start;
}
.result .temperature h2{
    font-size: 5rem;
}
.result .temperature #weatherDescription {
    font-size: 2rem;
}
.result .temperature img {
    margin: 0 auto;
}
.temp{
    transform: translateY(-10%);
}

#logo{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(307deg) brightness(108%) contrast(99%);
}


.result .temperature h3,
.result .temperature h2,
.result .temperature p {
    /* border: 1px solid red; */
    margin: 0px;
}

#fortcastFiveDays{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    
}
.date{
    width: 200px;
    padding: 25px;
    margin: 15px;
    border: 1px solid #fefefe;
}
.date img{
    width: 100%;
}

.date .weather h4{
    margin: 0;
    padding: 0;
}