* {
    box-sizing: border-box;
}
body {
    color: #fefefe;
    font-family: "Noto Sans JP", sans-serif;
    /*Backgroud*/
    background: url("../img/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    color: #888888;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    transition: all 0.35s ease;
}
a:hover {
    color: #ffffff;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
header {
    border-bottom: 0.5px solid #ffffff;
}
header,
header .logo,
header .nav,
.search {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    padding: 10px 0px;
    border-bottom: 0.5px solid #ffffff;
}
form{
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 10px 20px;
}
input,
button {
    background: transparent;
    border-radius: none;
    border: none;
    color: #888888;
   
    outline: none;
  

}
button{
    text-align: center;
    transition: all .35s ease;
}
button:hover {
    color: #ffffff;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.row .pollution-conatiner,
.row .temperature,
.row .temp-items {
    display: flex;
    text-align: center;
    width: 300px;
    padding: 15px;
    margin: 15px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.result .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pollution-items tr td {
    text-align: left;
    padding: 5px 0px 0px 5px;

    /* border: 1px solid red; */
}
.result .temperature::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    z-index: 0;
    /*box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);*/
    /* filter: blur(10px); */
    background: url('/public/img/bg-img.jpg');
    background-position: center;
    background-size: content;
}
.result .temperature,
.result .temp-items {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.result .temperature h2 {
    font-size: 5rem;
}
.result .temperature #weatherDescription {
    font-size: 2rem;
}
.result .temperature img {
    margin: 0 auto;
}
.temp {
    transform: translateY(-10%);
}

#logo {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(307deg) brightness(108%) contrast(99%);
}

.result .temperature h3,
.result .temperature h2,
.result .temperature p {
    /* border: 1px solid red; */
    margin: 0px;
}

#fortcastFiveDays {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}
.date::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    z-index: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    
}
.date {
    width: 200px;
    padding: 25px;
    margin: 15px;
    position: relative;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 1;
}
.date img {
    width: 100%;
}

.date .weather h4 {
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.header{
    width: 80%;
    margin:  0 auto;
    padding: 0 25px;
    
}

.article::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    z-index: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    
}

.article{
    width: 80%;
    margin:  0 auto;
    position: relative;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    overflow: hidden;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}
p{
    width: 50%;
}